body, input, select, textarea, table.ms-crm-Loading 
{
    font-family: Segoe\000020UI,Tahoma,Arial;
    font-size: 11px;
}

div {
    display: block;
	color: #000000;
}

table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
	height: 100%;
	width: 100%;	
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    font-size: 11px;
}

div.headerContainer{
    position: absolute;
    top: 0px;
    height: 64px;
    width: 100%;
    border-bottom: #a0a0a0 1px solid;
}

td.headerContainer-Title {
    vertical-align: top;
    width: 100%;
    padding-top: 5px;
    padding-left: 5px;
}

div.ms-crm-Dialog-Header-Title{
	padding-left: 5px;
	font-weight: bold;
    font-size: 13px;
}

div.ms-crm-Dialog-Header-Desc {
    padding-top: 4px;
    padding-left: 5px;
}

.mainContainer {
    position: absolute;
    top: 65px;
    bottom: 60px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    overflow-x: hidden;
	vertical-align: top;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    overflow: auto;
    background-color: #E9EDF1;
    border-bottom-color: #A4ABB2;
	min-width: 400px;
}

.mainTable {
    width: 100%;
    height: auto!important;
}

td.mainTable-col-title{
	display: table-cell;
	height: 30px;
} 

label.mainTable-label-title{
    padding-left: 15px;
	font-weight: bold;
    font-family: Segoe UI, Regular;
    margin-left: 0px;
    white-space: nowrap;
}

td.mainTable-col-text{
	vertical-align: top;
    width: 160px;
	padding: 10px 0 0 0;
} 

td.mainTable-col-inputs{
	display: table-cell;
    vertical-align: top;
    width: calc(100% - 160px);
    height: 10px;
	padding: 10px 0 0 0;
} 

td.mainTable-col-inputs select,
td.mainTable-col-inputs input,
td.mainTable-col-inputs textarea
{
	width: 90%;
}

label.mainTable-label{
    padding-top: 25px;
    padding-left: 30px;
    font-family: Segoe UI, Regular;
    margin-left: 0px;
    word-wrap: break-word;
    white-space: normal;
}

.footerContainer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    text-align: right;
	background-color: #E9EDF1;
    border-bottom-color: #A4ABB2;
}

div.LeftFooterButtons {
    text-align: right;
    float: right;
    margin-right: 10px;
}

button.confirm-button {
    height: 22px;
    overflow: visible;
    margin-left: 20px;
    width: 84px;
}




