/*tweaks to default bootstrap style*/
#thisDynamicForm .panel-body { padding: 0} /* save some space inner div have padding */
.panel-body > div {
    padding: 10px 20px;
}

/*prevents content from running away to the left with nested form groups*/
#thisDynamicForm   .form-group {
    margin-left: 0;
    margin-right: 0;
    /*margin-bottom: 0; Fer guevara: do not use until correct css selection can be performed since this change affects other fields*/
}

/*labels where to close to selects*/
#thisDynamicForm .form-horizontal .control-label { margin-bottom: 5px }

#thisDynamicForm  .control-label[required]:after {
    content: " *";
    color: #b41516;
}


/* omniware custom styles */
#thisDynamicForm .ow_section {
    /*indent*/
}

/* cant use .collapse which is added removed dynamically and does not animate well */
#thisDynamicForm .ow_section.ow_collapsable_section {
    margin-left: 30px;
    margin-top: -15px;
    border-bottom: 1px darkgray solid;
}

#thisDynamicForm .ow_legend {
    /*equivalent to control-label padding with extra bottom margin*/
    padding-top: 7px;
    margin-bottom: 7px;
    clear: both;
}

 /*delete and add buttons */
#thisDynamicForm .ow_repeatableSection .ow_delete {
    margin-top: -20px;
    margin-bottom: 5px;
}
#thisDynamicForm .ow_repeatableSection .ow_add {
    /*margin-top: 10px;*/
}

#thisDynamicForm.form-horizontal .numeric {
    text-align: right;
}

#thisDynamicForm .datepicker.dropdown-menu {
    font-family: "Open Sans", sans-serif;
     font-size: 12px;
    border-radius: 0;
    background-color: #f9f9f9;
}

#thisDynamicForm .datepicker table tr td, .datepicker table tr th {
    width: 20px;
    height: 20px;
    border-radius: 0px;
}

#thisDynamicForm .datepicker table tr td.today, .datepicker table tr td.today:hover, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover {
    color: #000;
    background-color: #5e95eb;
}


#thisDynamicForm .panel-default>.panel-heading {
    background-image: none;
    color: #fff;
    background-color: #5e95eb;
    border-color: #ddd;
}
#thisDynamicForm .panel-default>.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: #fff;
}

#thisDynamicForm .panel-default>.panel-heading a.collapsed:after {
    content: "\e080";
    color: #f5f9c2;
}

#thisDynamicForm input[type=checkbox].ow_enablesSection {
    margin-bottom: 15px;
}

#thisDynamicForm input[type=checkbox].ow_enablesSection:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: left;
    margin-left: -17px;
    margin-top: -2px;
    color: #85b2eb;
    /*text-shadow: 1px 0px 2px #85b2eb;*/
}
#thisDynamicForm input[type=checkbox].ow_enablesSection.collapsed:before {
    content: "\e080";
    color: #85b2eb;
    /*text-shadow: none;*/
}

#thisDynamicForm .expand-arrow.ow_enablesSection {
    margin-bottom: 15px;
    display:inline;
    float: left;
    margin-left: -20px;
    top: 3px;
    position: relative;
}

#thisDynamicForm .expand-arrow.ow_enablesSection:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: left;
    margin-left: -17px;
    margin-top: -2px;
    color: #85b2eb;
    /*text-shadow: 1px 0px 2px #85b2eb;*/
}
#thisDynamicForm .expand-arrow.ow_enablesSection.collapsed:before {
    content: "\e080";
    color: #85b2eb;
    /*text-shadow: none;*/
}


/* ============  Metronic like overrides using the whole Metronic was messing up the indents =========== */

/*Load Open Sans Font from google fonts*/
/* loaded via java script @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);*/

/***
Reset and overrides
***/
/* general body settings */
body #thisDynamicForm {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 13px;
  direction: ltr;
}

/*** General typography ***/

#thisDynamicForm h1, #thisDynamicForm h2, #thisDynamicForm h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300 !important;
}

#thisDynamicForm h1.block, #thisDynamicForm h2.block, #thisDynamicForm h3.block{
  padding-top: 10px;
  padding-bottom: 10px;
}

#thisDynamicForm a {
  text-shadow: none !important;
  color: #0d638f;
}

#thisDynamicForm .panel-title a {
  text-shadow: none !important;
  color: white;
}

/*** Fix link outlines after click ***/
#thisDynamicForm a, #thisDynamicForm a:focus, #thisDynamicForm a:hover,#thisDynamicForm a:active {
  outline: 0;
}


/*#thisDynamicForm.form-horizontal   {*/
    /*font-family: 'Open Sans', sans-serif;*/
/*}*/

#thisDynamicForm.form-horizontal .form-control,
#thisDynamicForm.form-horizontal .input-group-addon,
#thisDynamicForm.form-horizontal .btn,
#thisDynamicForm.form-horizontal .panel,
#thisDynamicForm.form-horizontal select {
    border-radius: 0;
    /*font-family: 'Open Sans', sans-serif;*/
}

#thisDynamicForm.form-horizontal label,
#thisDynamicForm.form-horizontal input
{
    font-weight: normal;
    /*font-size: 14px;*/
    /*font-family: 'Open Sans', sans-serif;*/
}

/*.panel-default>.panel-heading {*/

    /*background-image: -webkit-linear-gradient(top, #f5f5f5 0, #28a8b8 100%);*/
    /*background-image: linear-gradient(to bottom, #f5f5f5 0, #28a8b8 100%);*/
    /*background-repeat: repeat-x;*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);*/
/*}*/

#printTombstone .portlet-title h3 {
    margin-bottom: 0px;
    padding: 12px 10px 12px 10px;
    border-bottom: 1px solid #eee;
    line-height: 40px;
    font-weight: 500 !important;
    margin-top: auto;
}

#printTombstone .portlet-body {
    padding-left: 35px;
    padding-bottom: 15px;
}

#printTombstone .portlet-body .itemTitle {
    font-weight: bolder;
    margin-top: 10px;
    padding-bottom: 5px;
}

#printTombstone .portlet-body .inquiresDiv {
    font-weight: bolder;
    margin-top: 10px;
    padding-bottom: 5px;
}

/*  ====================== page printing ========================= */
@media print {
    
    body {
        -webkit-print-color-adjust: exact;
    }

    div{
        page-break-inside: auto;
    }

    #thisDynamicForm body, #thisDynamicForm .form-control {
        font-size: 11px;
    }

    /*page breaks*/
    #printTombstone .portlet box data{
        page-break-before: auto !important;
        page-break-after: auto !important;
    }

    #thisDynamicForm .panel {
        page-break-before: auto !important;
        page-break-after: auto !important;
    }

    #thisDynamicForm .form-group {
        page-break-before: auto !important;
        page-break-after: auto !important;
    }

    /*hide buttions*/
    #thisDynamicForm .btn {
       display: none;
    }

    #thisDynamicForm .input-group-addon {
       display: none;
    }

    #thisDynamicForm .panel-default>.panel-heading a:after {
        display: none;
    }

    #thisDynamicForm ::-webkit-input-placeholder { /* WebKit browsers */
        /*color:    transparent;*/
    }
    #thisDynamicForm :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        /*color:    transparent;
        opacity:  0;*/
    }
    #thisDynamicForm ::-moz-placeholder { /* Mozilla Firefox 19+ */
        /*color:    transparent;
        opacity:  0;*/
    }
    #thisDynamicForm :-ms-input-placeholder { /* Internet Explorer 10+ */
        /*color:    transparent;*/
    }

}

/* ========== when used in CMS editor ==== */
/*when the dynamic form is used by cms editor, it adds the cmseditor class to body altering the color scheme*/

#pnl-personal-accommodation .children-list > div > div > .form-group 
{
	margin: -10px 0 -10px 0; 
}

#thisDynamicForm #pnl-personal-accommodation .ow_section.ow_collapsable_section {
    margin-bottom: 10px;
    padding-bottom: 15px;
}

#thisDynamicForm fieldset.attachments {
  border: 1px solid black;
  padding: 5px;
}

#thisDynamicForm #pnl-attachments .checkbox input[type=checkbox]
{
	float: left;
	position: relative;
}

#thisDynamicForm fieldset.attachments legend {
  padding: 0.2em 0.5em;
  width: auto;
  border: none;
  margin-bottom: -10px;
  font-size: 15px;
}

#thisDynamicForm .attachments-before-approval-container .ow_legend {
  margin-left: 64px;
}

#thisDynamicForm label.returning-presenter {
    text-align: left;
    width: auto;
    padding-right: 10px;
}

#thisDynamicForm span.required.required-yes-no {
    margin-left: 35px;
}

#thisDynamicForm .row.attachment-row {
    height: 34px;
}

#thisDynamicForm .row.attachment-row-disabled {
    color: black;
}

#thisDynamicForm .row.attachment-row-disabled {
    color: lightgray;
}

#thisDynamicForm .attachments-beforeapproval {
    margin-left: 34px;
}

#thisDynamicForm .group-checkboxes-header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
}

#thisDynamicForm .group-checkboxes-check {
    width:25px;
}

body.cmseditor  {
    background-color: #444;
    border-bottom: none;
    font-family: "Segoe UI", sans-serif;
    color: navajowhite;
}
body.cmseditor #thisDynamicForm  {
    background-color: #444;
    border-bottom: none;
    font-family: "Segoe UI", sans-serif;
    color: navajowhite;
}

body.cmseditor .page-info {
    color: #428bca;
}

body.cmseditor > div {
    padding: 0 0px 10px 25px;
}

.fileinput-button {
position: relative;
overflow: hidden;
}

.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

.upload-document-container label.inline {
    width: 100%;
}

.upload-document-container .selected-file {
    display: inline-block;
    margin: 9px 0 0 5px;
}

.required 
{
    color: red;
    font-weight: bold;
    padding-right: 2px;
    width: 10px;
    display: inline-block;
}

.optional 
{
    font-weight: bold;
    padding-right: 2px;
    width: 10px;
    display: inline-block;   
}

.btn-attachment-download 
{
    color: #0d638f;
}

.transparent {
    color: transparent;
}

.fa-cloud-upload
{
	color: #0d638f;
}

.section-message-container 
{
    padding-bottom: 15px;
}