﻿
/*Treeview Icons*/

body {
   height: 100% 
}

html {
    height: 100% 
}

#treeview .k-sprite {
    background-image: url('Images/coloricons.png');
}

.rootfolder {
    background-position: 0 0;
}

.folder {
    background-position: 0 -16px;
}

.pdf {
    background-position: 0 -32px;
}

.html {
    background-position: 0 -48px;
}

.image {
    background-position: 0 -64px;
}


.property_row_css {

   margin: 20px 20px 20px 40px;
}
.property_title_css {
    display: inline-block;
    width: 200px;
        font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}

.Title_css {
    
 
 margin: 20px 10px 40px 40px;
}

.Title_css > .Title_internal_css {
    

color: rgb(102, 102, 102);
font-family: 'Open Sans', sans-serif;
font-size: 30px;
font-weight: 300;
}



.k-numerictextbox,.k-in {
    font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
}
.k-input, .k-textbox, .k-button {
    font-family: Arial, Helvetica, sans-serif !important;
font-size: 12px !important;
}

.k-numerictextbox {

    width: 200px;
}
#pr_Message_wrap {
    
position: relative;
min-height: 200px;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
font-weight: normal;
display: block;
color: #515967;
background-color: #fff;
}